body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

label {
  margin-top: 15px;
}

a {
  color: #dd1166;
}

input, select {
  margin: 10px 0;
}

.error {
  font-size: 20px;
  color: #ff0000;
}

.ctrbtn {
  margin-top: 20px;
}

table {
  width: 100%;
}

.nav {
  height: 50%;
  background-color: rgba(119, 204, 0, 0.6);
  padding: 20px;

  ul {
    font-size: 1.2em;
    padding: 15px;
    list-style-type: none;
  }

}

.form-control {
  width: 200px;
}

.input-group{
  width: 100%;
}