<% include standards/header %>

<div class="container">

    <h1>Registrierung</h1>
    <hr/>


    <div id="view">
        <% include registration/profile.ejs %>
    </div>

</div>


<script>

    var userData = "";

    $ ('#view').on ('click', '#submitUniData', function () {

        if (validateForm ()) {
            return;
        }

        userData += "&" + $ ('#uniForm').serialize ();

        $.ajax ({

            url: 'http://localhost:3001/registration', // url where to submit the request
            type: "POST", // type of action POST || GET
            data: userData,
            success: function (result) {
                $ ('#view').html (result);
                window.setTimeout('window.location = "http://localhost:3001/login/"',2000);
            },
            error: function (xhr, resp, text) {
                $ ('#message').html (text);
            }
        })

    });

    $ ('#submitProfile').click (function () {

        if (validateForm ()) {
            return;
        }

        userData = $ ('#profile').serialize ();

        $.ajax ({


            url: 'http://localhost:3001/registration/uniData', // url where to submit the request
            type: "GET",
            data: userData,
            success: function (result) {
                $ ('#view').html (result);
            },
            error: function (xhr, resp, text) {
                $ ('#message').html (text);
            }
        })

    });


    function validateForm () {

        $ ("label").css ("color", "black");
        var failed = 0;
        $ ('input, select').filter ('[required]:visible').each (function () {
            if ($ (this).val () == '') {
                var label = $ (this).attr ('name');
                $ ("label[for='" + label + "']").css ("color", "red");
                failed = 1;
            }
        });

        if (failed) {
            $ ('#message').html ("<span class='error'>Bitte Pflichfelder ausfüllen!");
            return 1;
        }

        return 0;

    }

    function resetChild (name) {
        $ ("#" + name).hide ();

        if ($ (".form-control[name='" + name + "']").data ("child")) {
            resetChild ($ (".form-control[name='" + name + "']").data ("child"));
        }
    }

    $ (document).ready (function () {
        $ ("#submitbtn").on ('click', function () {

            if (validateForm ()) {
                return;
            }

            $.ajax ({


                url: 'http://localhost:3001/registration', // url where to submit the request
                type: "POST", // type of action POST || GET
                data: json,
                success: function (result) {
                    $ ('#message').html (result);
                    window.location = "http://localhost:3001/";
                },
                error: function (xhr, resp, text) {
                    $ ('#message').html (text);
                    console.log (text);
                }
            })
        });
    });

</script>


<% include standards/footer %>
