<% include header %>

<form id="userform" enctype="application/json" action="http://localhost:3000/user" method="post">

  <label>Geschlecht</label> <br>
  <select name="geschlecht">
    <option value="0">Bitte wählen</option>
    <option value="m">Herr</option>
    <option value="f">Frau</option>
  </select><br>

<form id="form1">
    
  <label>Vorname</label> <br>
  <input maxlength="50" name="firstname" size="45" type="text" /><br>

  <label>Nachname</label> <br>
  <input maxlength="50" name="lastname" size="45" type="text" /><br>

  <label>Passwort</label> <br>
  <input maxlength="50" name="password" size="45" type="text" /><br>

  <label>E-mail</label> <br>
  <input name="Email" type="email" size="45" type="text"/><br>

  <label>Repository</label> <br>
  <input name="repository" size="45" type="text" value="http://github.com/" /><br>

  <label>Rolle</label> <br>
  <select name="rule">
    <option value="0">Bitte wählen</option>
    <option value="1">Programmierer</option>
    <option value="2">Dokumentierer</option>
    <option value="3">Leiter</option>
    <option value="4">Designer</option>
  </select><br>
    
</form>

  <input type="submit" value="Registrieren" />
  <input type="reset" form="form1" value="Eingaben löschen" onClick="clear();">

</form>

<div id="message">

</div>
<% include footer %>