<% include standards/header %>

<form id="uniReg" enctype="application/json" action="http://localhost:3001/university" method="post">

    <div><label>Name der Hochschule:</label>
        <br>
        <input maxlength="50" name="name" size="45" type="text" />
    </div>
    <br>


    <div>
        <label>Motto:</label>
        <br>
        <input maxlength="50" name="slogan" size="45" type="text" />
    </div>
    <br>

    <div>
        <label>Gründungsjahr:</label>
        <br>
        <select name="established">
            <script>
                var myDate = new Date();
                var year = myDate.getFullYear();
                for(var i = 1900; i < year + 1; i++){
                    document.write('<option value="'+i+'">'+i+'</option>');
                }
            </script>
        </select>
    </div>
    <br>

    <div>
        <label>Hauptsitz:</label>
        <br>
        <input maxlength="50" name="headOfOffice" size="45" type="text" />
    </div>
    <br>

    <div>
        <label>Land:</label>
        <br>
        <select name="state">
            <option value="0">Bitte wählen:</option>
            <option value="1">Deutschland</option>
            <option value="2">Schweiz</option>
            <option value="3">Österreich</option>
        </select>
    </div>
    <br>

    <div>
        <label>Bundesland:</label>
        <br>
        <select name="federalState">
            <option value="0">Bitte wählen</option>
            <option value="1">Baden-Württemberg</option>
            <option value="2">Bayern</option>
            <option value="3">Berlin</option>
            <option value="4">Brandenburg</option>
            <option value="5">Bremen</option>
            <option value="6">Hamburg</option>
            <option value="7">Hessen</option>
            <option value="8">Mecklenburg-Vorpommern</option>
            <option value="9">Niedersachsen</option>
            <option value="10">Nordrhein-Westfalen</option>
            <option value="11">Rheinland-Pfalz</option>
            <option value="12">Saarland</option>
            <option value="13">Sachsen</option>
            <option value="14">Sachsen-Anhalt</option>
            <option value="15">Schleswig-Holstein</option>
            <option value="16">Thüringen</option>
        </select>
    </div>
    <br>

    <div>
        <label>Stadt:</label>
        <br>
        <select name="city">
            <option value="0">Bitte wählen:</option>
            <option value="1">Köln</option>
            <option value="2">Gummersbach</option>
        </select>
    </div>
    <br>
    <!--<label>Campus:</label> <br>
    <input maxlength="50" name="uni_campus" size="45" type="text" /><br>-->

    <div>
        <label>Website:</label>
        <br>
        <input maxlength="50" name="website" size="45" type="url" />
    </div>
    <br>

    <input type="submit" value="Speichern" />
    <input type="reset" value="Eingaben zurücksetzen" />

</form>

<script type="text/javascript">
    $(function() {
        var frm = $('#uniReg');
        frm.on('submit', function(ev) {
            var name = $(this).find('#name'.val());
            var slogan = $(this).find('#slogan'.val());
            var established = $(this).find('#established'.val());
            var headOfOffice = $(this).find('#headOfOffice'.val());
            var state = $(this).find('#state'.val());
            var federalState = $(this).find('#federalState'.val());
            var city = $(this).find('#city'.val());
            var website = $(this).find('#website'.val());

            $.ajax({
                type: 'POST',
                url: '/unireg'+pathname,
                data: frm,
                success: function(frm) {

                },
                error: function(xhr, options, e) {
                    console.log(e);
                }
            }).done(function() {
                alert(data.name+ 'wurde hinzugefügt.');
            }).fail(function(e) {
                alert(data.name+' konnte nicht hinzugefügt werden. ('+JSON.stringify(e)+')');
            });
            /*location.reload();*/
            ev.preventDefault();
        });
        ev.preventDefault();
    });
</script>

<% include standards/footer %>