<% include standards/header %>

<form id="uniReg" enctype="application/json">

    <div class = "input-group">
        <label for = "name">Name der Hochschule:</label>
        <br>
        <input class="form-control" maxlength="50" name="uniName" size="45" type="text" required />
    </div>
    <br>


   <div class = "input-group">
        <label for = "motto">Motto:</label>
        <br>
        <input class = "form-control" maxlength="50" name="uniSlog" size="45" type="text" required />
    </div>
    <br>

     <div class = "input-group">
        <label for = "year">Gründungsjahr:</label>
        <br>
        <select name="uniEst" class = "form-control" required />
            <script>
                var myDate = new Date();
                var year = myDate.getFullYear();
                for(var i = 1900; i < year + 1; i++){
                    document.write('<option value="'+i+'">'+i+'</option>');
                }
            </script>
        </select>
    </div>
    <br>

    <div class = "input-group">
        <label for = "hq">Hauptsitz:</label>
        <br>
        <input class = "form-control" maxlength="50" name="uniHO" size="45" type="text" required />
    </div>
    <br>

    <div class = "input-group">
        <label for = "country">Land:</label>
        <br>
        <select class = "form-control" name="uniState" required>
            <option value="0">Bitte wählen:</option>
            <option value="1">Deutschland</option>
            <option value="2">Schweiz</option>
            <option value="3">Österreich</option>
        </select>
    </div>
    <br>

    <div class = "input-group">
        <label for = "state">Bundesland:</label>
        <br>
        <select class = "form-control" name="uniFedState" required>
            <option value="0">Bitte wählen</option>
            <option value="1">Baden-Württemberg</option>
            <option value="2">Bayern</option>
            <option value="3">Berlin</option>
            <option value="4">Brandenburg</option>
            <option value="5">Bremen</option>
            <option value="6">Hamburg</option>
            <option value="7">Hessen</option>
            <option value="8">Mecklenburg-Vorpommern</option>
            <option value="9">Niedersachsen</option>
            <option value="10">Nordrhein-Westfalen</option>
            <option value="11">Rheinland-Pfalz</option>
            <option value="12">Saarland</option>
            <option value="13">Sachsen</option>
            <option value="14">Sachsen-Anhalt</option>
            <option value="15">Schleswig-Holstein</option>
            <option value="16">Thüringen</option>
        </select>
    </div>
    <br>

    <div class = "input-group">
        <label for = "town">Stadt:</label>
        <br>
        <select class = "form-control" name="uniCity" required>
            <option value="0">Bitte wählen:</option>
            <option value="1">Köln</option>
            <option value="2">Gummersbach</option>
        </select>
    </div>
    <br>
    <!--<label>Campus:</label> <br>
    <input maxlength="50" name="uni_campus" size="45" type="text" /><br>-->

    <div class = "input-group">
        <label for = "site">Website:</label>
        <br>
        <input class = "form-control" maxlength="50" name="uniWeb" size="45" type="url" required />
    </div>
    
    <div class="input-group ctrbtn">
        <input class="form-control" type="button" id="submitbtn" value="Registrieren"/>
        <input class="form-control" type="reset" form="uniReg" value="Eingaben löschen" onClick="clear();">
    </div>

</form>

<div id="message"></div>

<script>
    $(document).ready(function () {
        $("#submitbtn").on('click', function () {
            $("label").css("color", "black");
            var failed = 0;
            $('input, select').filter('[required]:visible').each(function () {
                if ($(this).val() == '') {
                    var label = $(this).attr('name');
                    $("label[for='" + label + "']").css("color", "red");
                    failed = 1;
                }
            });
            if (failed) {
                $('#message').html("<span class='error'>Bitte Pflichfelder ausfüllen!");
                return;
            }
            $.ajax({
                url: 'http://localhost:3001/university', // url where to submit the request
                type: "POST", // type of action POST || GET
                data: $("#uniReg").serialize(),
                success: function (result) {
                    $('#message').html(result);
                },
                error: function (xhr, resp, text) {
                    $('#message').html(text);
                    console.log(text);
                }
            })
        });
    });
</script>

<% include standards/footer %>
