<% include ../standards/header %>

<div class="container">

    <h1><%= title %></h1>

    <form id="form" enctype="application/json">

        <div class="input-group">
            <label for="repository">Name des Studiengangs</label> <br>
            <input class="form-control" name="name" size="45" type="text"
                   required/><br>
        </div>

        <div class="input-group" id="university">

            <label>Hochschule</label><br>
            <select class="form-control" name="university" data-child="faculty" required>
                <option></option>
                <% for(var i = 0; i < university.length; i++) { %>
                <option value="<%= university[i].id %>"><%= university[i].name %></option>
                <% } %>
            </select>

        </div>

        <div class="input-group" id="faculty" style="display: none;">
            <label>Fakultät</label><br>
            <select class="form-control" name="faculty" data-child="course" required>
                <option></option>
            </select>
        </div>

        <div class="input-group ctrbtn">
            <input class="form-control" type="button" id="submit" value="Erstellen"/>
        </div>

    </form>

    <div id="message"></div>

</div>

<script>

    $ ('.container').on ('click', '#submit', function () {

        if (validateForm ()) {
            return;
        }

        var data = $ ('#form').serialize ();

        $.ajax ({

            url: 'http://localhost:3001/course',
            type: "POST",
            data: data,
            success: function (result) {
                $ ('#message').html ("Erstelle Studiengang");
                window.setTimeout ('window.location = "http://localhost:3001/subject"', 2000);
            },
            error: function (xhr, resp, text) {
                $ ('#message').html (text);
            }
        })

    });

</script>

<script>

    function resetChild (name) {
        $ ("#" + name).hide ();

        if ($ (".form-control[name='" + name + "']").data ("child")) {
            resetChild ($ (".form-control[name='" + name + "']").data ("child"));
        }
    }

    $ ('.form-control').change (function () {

        var id = $ (this).val ();
        var name = $ (this).attr ("name");
        var child = $ (this).data ('child');

        resetChild (child);


        $ ('#' + child).show ();

        var load = $ (".form-control[name='" + child + "']").data ('child');

        if(!load){
            return;
        }

        $.ajax ({
            url: 'http://localhost:3001/registration/' + name + '/' + child, // url where to submit the request
            type: "GET", // type of action POST || GET
            data: {"uniId": id},
            success: function (result) {
                $ ('#message').html (result);


                $ (".form-control[name='" + child + "']").html ("<option></option>");
                $.each (result, function (i, l) {
                    $ (".form-control[name='" + child + "']").append ("<option value='" + l.id + "'>" + l.name + "</option>");
                });
            },
            async: true,
            error: function (xhr, resp, text) {
                $ ('#message').html (text);
                console.log (text);
            }
        })

    });
</script>



<% include ../standards/footer %>