<div id="servermessage">

</div>

<script>


    function validateForm () {

        $ ("label").css ("color", "black");
        var failed = 0;
        $ ('input, select').filter ('[required]:visible').each (function () {
            if ($ (this).val () == '') {
                var label = $ (this).attr ('name');
                $ ("label[for='" + label + "']").css ("color", "red");
                failed = 1;
            }
        });

        if (failed) {
            $ ('#message').html ("<span class='error'>Bitte Pflichfelder ausfüllen!</span>");
            return 1;
        }

        return 0;

    }

</script>

<script src="/socket.io/socket.io.js"></script>

<script>

    $ (document).ready (function () {

        if (localStorage.getItem ("id")) {

            var socket = io.connect ('http://localhost:3001');

            socket.on ('connect', function (data) {
                socket.emit("join",localStorage.getItem ("id"));
            });

            socket.on ('messages', function (data) {
                $ ('#servermessage').append ("<span>" + data.message + "</span><br />");
            });
        }

    })

</script>

</body>
</html>