<div class="nav navbar-nav">

    <h1>GroupMI</h1>

    <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/dashboard/group/find" >Grupppe finden</a></li>
        <li><a href="/dashboard/group/add" >Grupppe erstellen</a></li>
        <li><a href="/logout" >Logout</a></li>
    </ul>
</div>

<script>

    $('.nav').height(document.documentElement.clientHeight);

    $(window).on('resize', function () {
        $('.nav').height(document.documentElement.clientHeight);
    });

</script>